
<ion-view view-title="Messages">

  <ion-content class="home-page has-tabs">

    <div class="profile-wrap">
      <div class="search-bar">
            <div class="list">
              <label class="item item-input" ng-init="blur='true'">
                <input type="text" ng-focus="focus=true;blur=false;" ng-blur="blur=true;focus=false;" ng-model="query" placeholder="" id="searchbar">
                <span ng-show="blur" class="input-top"><i style="left:40px"class="icon ion-ios-search"></i>Search messages...</span>
              </label>
            </div>
        </div>
         <div class="button-bar custom-tab">
        
        <a  style="cursor:pointer" ng-click="messageList()"
            class="button button-stable" ng-class="{'active':msgList}">Messages</a> 
            <a  style="cursor:pointer" ng-click="contactList()"
            class="button button-stable" ng-class="{'active':cntList}">Contact</a>
  </div>

        
        <div class="your-Reviews findjobs" ng-show="msgList"> 
             
            <ul class="offer-wrap find-wrap msg-wrap">

              <li ng-repeat="messageList in messageLists | filter:query" ng-if="messageList.senderid._id==userInformation._id && messageLists.length>0">
                  
                    <div class="row" ng-click="msgthred(messageList.recieverid._id,messageList._id)">
                        <div class="col-20">
                            <div class="job-wrap">
                              <div class="img-wrap msg-img item-avatar">
                                 <img ng-if="!messageList.recieverid.prof_image" src="img/defaultpost.png" alt="" class="jobimage">
                                  <img class="jobimage" src="{{profileImagePath}}{{messageList.recieverid.prof_image}}" alt="">

                                  <span class="msg-count" ng-if="(messageList.message|filter:{is_read:false,recieverid:userInformation._id}).length>0">{{(messageList.message|filter:{is_read:false,recieverid:userInformation._id}).length}}</span>

                                </div>
                            </div>
                        </div>

                        <div class="col-80" >
                            <h2 class="review-name msg-sender">{{messageList.recieverid.first_name}} {{messageList.recieverid.last_name}}

                                  
                              <span ng-if="(messageList.created_date | date) === (currentDate | date)" class="msg-day">Today</span>
                            <span ng-if="(messageList.created_date | date) === (previousDay | date)" class="msg-day">Yesterday</span>
                            <span ng-if="(messageList.created_date | date) != (previousDay | date) && (messageList.created_date | date) != (currentDate | date)" class="msg-day">{{messageList.created_date | date  }}</span>
                            <div class="div-wrap message-content message-content-top">
                              <div class="price-accept">
                                    <p>{{messageList.message[0].text | cut:true:50:' ...'}}</p>
                               </div>
                                <div class="next" ng-click="msgthred(messageList._id)">
                                  <a href="javascript:void(0)"><i class="icon ion-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
               </li>

               <li ng-repeat="messageList in messageLists" ng-if="messageList.recieverid._id==userInformation._id">

                    <div class="row" ng-click="msgthred(messageList.senderid._id,messageList._id)">
                        <div class="col-20">
                            <div class="job-wrap">
                              <div class="img-wrap msg-img item-avatar">
                                  <img ng-if="!messageList.senderid.prof_image" src="img/defaultpost.png" alt="" class="jobimage">
                                  <img class="jobimage" src="{{profileImagePath}}{{messageList.senderid.prof_image}}" alt="">
                                 
                                  <span class="msg-count" ng-if="(messageList.message|filter:{is_read:false,recieverid:userInformation._id}).length>0">{{(messageList.message|filter:{is_read:false,recieverid:userInformation._id}).length}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-80" >
                            <h2 class="review-name msg-sender">{{messageList.senderid.first_name}} 
                               

                            <span ng-if="(messageList.created_date | date) === (currentDate | date)" class="msg-day">Today</span>
                            <span ng-if="(messageList.created_date | date) === (previousDay | date)" class="msg-day">Yesterday</span>
                            <span ng-if="(messageList.created_date | date) != (previousDay | date) && (messageList.created_date | date) != (currentDate | date)" class="msg-day">{{messageList.created_date | date  }}</span>


                              
                            <div class="div-wrap message-content message-content-top">
                              <div class="price-accept">
                                    <p>{{messageList.message[0].text | cut:true:50:' ...'}}</p>
                               </div>
                                <div class="next">
                                  <a href="javascript:void(0)"><i class="icon ion-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
               </li>
               
               
               
              </ul>
        </div>
        <div class="your-Reviews findjobs" ng-show="cntList"> 
            <ul class="offer-wrap find-wrap msg-wrap cntlist">
             
              <li ng-repeat="contactList in contactLists | unique:'email'" ng-click="msgform(contactList._id)">
                
                    <div class="row" ng-if="contactList._id!=''">
                        <div class="col-20">
                            <div class="job-wrap">
                              <div class="img-wrap  item-avatar msg-img">

                                 <img ng-if="!contactList.prof_image[0]" class="jobimage" ng-src="img/defaultpost.png" alt="" />
                                  
                                  <img src="{{profileImagePath}}{{contactList.prof_image[0]}}" alt="" class="jobimage">
                                  
                                </div>
                            </div>
                        </div>
                        <div class="col-80" style="position:relative">
                            <h2 class="review-name msg-sender" style="position:absolute;top:40px;font-weight:bold">{{contactList.first_name[0]}} {{contactList.last_name[0]}}</h2>
                            <div class="div-wrap message-content message-content-top" style="position:absolute;top:25px">
                             
                                <div class="next">
                                  <a href="javascript:void(0)"><i class="icon ion-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
               </li>
               
              </ul>
        </div>

    </div>
  </ion-content>
  
</ion-view>
